@import "tailwindcss";


html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

.markdown {
  width: 100%;
}

.markdown pre {
  overflow-x: auto;
  max-width: 100%;
}

.markdown code {
  font-family: monospace;
}

.markdown table {
  display: block;
  overflow-x: auto;
  max-width: 100%;
}

.markdown th,
.markdown td {
  border: 1px solid #475569;
  padding: 8px;
}

.markdown p {
  margin: 0.75rem 0;
}

.markdown ul,
.markdown ol {
  margin-left: 1.5rem;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.markdown img {
  max-width: 100%;
}


/* ============================= */
/* SATIETY BACKGROUND ANIMATION */
/* ============================= */

@keyframes floatBlob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -40px) scale(1.08);
  }

  66% {
    transform: translate(-25px, 20px) scale(0.95);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: floatBlob 16s ease-in-out infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}